@import "../common.scss";

.header {
    position: unset;
}
.about {
    $this: &;
    &__title {
        @include _title("level2");
        margin-top: 60px;
        @media #{$mq-pc} {
            margin-top: 120px;
        }
    }
    &__content {
        margin-bottom: 40px;
        @media #{$mq-pc} {
            @include _column;
            margin-bottom: 80px;
        }
        #{$this}__img {
            @include _box-shadow;
            width: 100%;
            align-self: flex-end;
            @media #{$mq-pc} {
                width: 40%;
                align-self: unset;
                margin-bottom: 40px;
            }
        }
        #{$this}__prf {
            @include _font;
            width: 100%;
            margin-bottom: 20px;
            @media #{$mq-pc} {
                width: 50%;
                margin-bottom: 40px;
            }
            &-title {
                @include _title("level3");
                display: inline-block;
                background: linear-gradient(transparent 60%, $gray 60%);
                margin: 20px 0;
                @media #{$mq-pc} {
                    margin: 0 0 20px;
                }
            }
            &-list {
                margin-bottom: 20px;
                @media #{$mq-pc} {
                    margin-bottom: 40px;
                }
            }
            &-dt {
                float: left;
                margin-right: 3em;
                &:nth-of-type(2) {
                    margin-right: 1em;
                }
            }
            &-dd {
                margin-bottom: 1em;
            }
            &-txt {
                @include _font;
                text-indent: -1em;
                &:first-of-type {
                    font-weight: bold;
                    margin-bottom: 0.5em;
                    text-indent: 0;
                }
            }
        }
    }
    &__his {
        &-item {
            @include _font;
            position: relative;
            border-left: 1px solid $pink;
            margin: 0;
            padding: 0 0 40px 6%;
            @media #{$mq-pc} {
                margin: 0 0 0 10%;
                padding: 0 0 80px 6%;
            }
            &::before {
                display: inline-block;
                content: "";
                height: 20px;
                width: 20px;
                background-color: $pink;
                border-radius: 50%;
                position: absolute;
                left: 0;
                transform: translateX(-50%);
            }
        }
        &-box {
            padding: 0.5em;
            border: 3px solid $pink;
            border-radius: 10px;
            background-color: $lightGray;
            @media #{$mq-pc} {
                padding: 1em;
            }
        }
        &-dt {
            margin-bottom: 1em;
        }
        &-dd {
            font-weight: bold;
            margin-bottom: 1.5em;
        }
        &-txt {
            &::first-line {
                text-indent: 1em;
                @media #{$mq-pc} {
                    text-indent: unset;
                }
            }
        }
    }
    &__bottom {
        @include _btn;
        #{$this}__btn-txt {
            &::before,
            &::after {
                display: none;
            }
        }
    }
}

//
.back__btn {
    opacity: 0;
    text-align: center;
    position: fixed;
    display: inline;
    bottom: 2em;
    right: 1.3em;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: $pink;
    @media #{$mq-pc} {
        bottom: 4em;
        right: 4em;
    }
    &-icon,
    .fa,
    .fab,
    .fad,
    .fal,
    .far,
    .fas {
        font-size: 32px;
        color: $white;
        display: block;
        line-height: 40px;
    }
}
