// mvキャッチのフェードイン
@mixin _fadeIn {
    @keyframes fadeIn {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    animation: fadeIn 5s ease-in infinite;
}

// mvアイコンのバウンド
@mixin _bound {
    @keyframes bound {
        0%,
        100% {
            bottom: 0.5em;
            transform: scale(1);
        }
        30% {
            bottom: 1em;
            transform: scale(0.96, 1.04);
        }
        60% {
            transform: scale(1);
        }
        90% {
            bottom: 0.5em;
            transform: scale(1.15, 0.9);
        }
    }
    animation: bound 1s infinite;
}

/*マーカーアニメーション*/
 
.marker-animation.active{
    background-position: -65% .5em;
    @media #{$mq-pc} {
        background-position: unset;
    }
}

.marker-animation {
    background: linear-gradient(left, transparent 60%, $yellow 60%);
    background-repeat: repeat-x;
    background-size: 250% .8em;
    background-position: 0 .5em;
    transition: all 2s ease;
    font-weight: bold;
    @media #{$mq-pc} {
        background-position: unset;
    }
}